
.vscode/launch.json
admin/admin/assets/files/prospectus/*
admin/admin/assets/images/schools/*
student/assets/images/icons/pn/*
student/assets/images/icons/sv/*
*.zip
*.log
paystack/test.json
/admin/admin/assets/files/admission templates
/assets/images/profiles
includes/env.json
