*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}
nav{
    flex: 2;
    transition: all 1s;
    background-color: #111;
    overflow: hidden;
    color: white;
    gap: 15px;
}


#lhs{
    transition: background-color 1s;
    overflow: auto;
    max-height: 100vh;
}

nav.dark:hover{
    background: #303033;
}

nav.light:hover{
    background: #e0e0e3;
}

nav.light:hover .menu{
    background-color: #fff;
}

nav#not-active{
    background-color: rgba(230, 50, 50);
    color: whitesmoke !important;
}

nav#not-display{
    background-color:rgba(230, 100, 100, 1);
    color: whitesmoke !important;
}

nav#no-house{
    background-color: rgba(255, 80,80);
    color: whitesmoke !important;
}

nav#not-active.light .menu,
nav#not-display.light .menu,
nav#no-house.light .menu{
    color: black;
}

#rhs{
    flex: 5;
}

img{
    width: 100%;
}

#lhs #top{
    text-align: center;
}

nav.dark #lhs img{
    filter: invert(1);
}

#top .img{
    max-width: 20vw;
}

#top .img img{
    max-width: inherit;
}

#middle{
    margin: 5vh auto;
}

.menu{
    margin: 1vh 1vw;
    border-radius: 10px;
    transition: all 1s;
}

nav.dark .menu{
    background-color: #2225;
}

nav.light .menu{
    background-color: #e0e0e3;
}

.menu:hover{
    border-radius: 5px;
}

nav.dark .menu:hover{
    background-color: #5553;
}

nav.light .menu:hover{
    background-color: #fffa;
}

.menu .item{
    display:flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid transparent;
    padding: 5px 2px;
    cursor: pointer;
}

.menu .item:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu .item:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu .item.active, .menu .item.active:hover{
    background-color: transparent;
}

nav.dark .menu .item.active, nav.dark .menu .item.active:hover{
    border-left-color: lightblue;
}

nav.light .menu .item.active, nav.light .menu .item.active:hover{
    border-left-color: darkblue;
}

nav.dark .menu .item.active:first-child, nav.light .menu .item.active:first-child,
nav.dark .menu .item.active:first-child:hover,
nav.light .menu .item.active:first-child:hover{
    border-top-left-radius: 10px;
}

nav.dark .menu .item.active:last-child, nav.light .menu .item.active:last-child,
nav.dark .menu .item.active:last-child:hover,
nav.light .menu .item.active:last-child:hover{
    border-bottom-left-radius: 10px;
}

nav.dark .menu .item:hover{
    background-color: #eee1;
}

nav.light .menu .item:hover{
    background-color: #cccb;
}

.menu .item .icon{
    width: 4.5vh;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .item img{
    width: 80%;
}

.menu .item .menu_name{
    flex: 1;
    padding-left: 5px;
}

@media screen and (min-width: 768px){
    #top .img img{
        max-width: 7vw;
    }
}

@media screen and (max-width: 698px){
    #foot{
        position: initial;
        width: initial;
    }
}

/*#lhs::-webkit-scrollbar{
    width: 10px;
}

#lhs::-webkit-scrollbar-track{
    background-color: #474747;
}

#lhs::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    border-radius: 10px;
}
#lhs::-webkit-scrollbar-thumb:hover{
    background-color: grey;
}
#lhs::-webkit-scrollbar-button{
    background-color: rgb(235, 173, 57);
    border: 1px solid black;
}*/

#container{
    overflow: hidden;
    max-height: 100vh;
}
@media screen and (max-width: 768px){
    #container{
        flex-direction: column;
    }
    /*hide some materials at this view*/
    body nav{
        flex: 1;
    }
    body #lhs{
        display: flex;
        align-items: center;
    }

    /* when ham burger is clicked in small screen */
    body.ham_click #container{
        flex-direction: row;
    }
    body.ham_click #lhs{
        display: block;
        width: 100%;
    }

    body #lhs #top{
        display: none !important;
    }
    body.ham_click #lhs #top{
        display: flex !important;
    }

    body #lhs #middle{
        margin: unset;
        display: flex;
    }
    body.ham_click #lhs #middle{
        margin: 5vh auto;
        display: block;
    }

    body{
        flex-direction: column;
        transition: all 1s;
    }

    body .menu{
        margin: unset;
        display: flex;
    }
    body.ham_click .menu{
        margin: 1vh 1vw;
        display: block;
    }

    body .menu .item{
        border: 1px solid transparent;
        padding: 6px;
    }
    body.ham_click .menu .item{
        border: unset;
        padding: 5px 2px;
    }

    body .menu .item.active, body .menu .item:hover, body .menu .item.active:hover{
        border: 1px solid transparent;
        border-bottom-color: lightblue;
    }

    body.ham_click .menu .item.active, body.ham_click .menu .item:hover{
        border-color: transparent;
        border-left-color: lightblue;
    }

    body .menu_name{
        display: none;
    }
    body.ham_click .menu_name{
        display: initial;
    }

    /*show when ham is clicked*/
    body.ham_click{
        flex-direction: row;
    }

    body.ham_click nav{
        flex: 7;
    }
    body.ham_click #rhs{
        flex: 4;
    }

    body.ham_click #ham{
        position: absolute;
        top: 2.5vh;
        left: 40vw;
    }

    /*hamburgar*/
    #ham{
        padding: 0.5em;
        cursor: pointer;
        transition: all 1s;
    }

    #ham.clicked{
        position: relative;
    }

    #ham.clicked span{
        position: inherit;
        height: 4px;
    }

    #ham.clicked span:nth-child(2){
        display: none;
    }

    #ham.clicked span:first-child{
        transform: rotate(45deg);
    }
    #ham.clicked span:last-child{
        transform: rotate(-45deg);
    }

    nav{
        background-color: #111;
        padding: 0.5em 0;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    #ham span{
        display: block;
        background-color: black;
        width: 25px;
        height: 5px;
        margin: 2px;
        transition: all 1s;
    }

    nav.dark #ham span{
        background-color: white;
    }

    .item img{
        width: 95%;
    }
}

@media screen and (max-width:540px){
    body.ham_click #ham.clicked{
        right: 35vw;
        left: unset;
    }
}

body{
    background-color: #eee;
    height: 100vh;
    overflow: hidden;
}

#lhs, #rhs{
    padding: 1%;
}

section{
    padding: 1vh 1vw;
}

#rhs{
    flex: 5;
    border-top: 1vh solid lightgrey;
    overflow: auto;
    height: 100vh;
}

#rhs > .head{
    padding: 1% 1.5% 1% 0.2%;
    font-variant: small-caps;
    font-size: larger;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}


@media screen and (min-width: 768px){
    #rhs{
        flex: 6;
    }
}

@media screen and (orientation: portrait){
    #rhs{
        padding-bottom: 5vh;
    }
}

@media screen and (max-width: 768px), (orientation: portrait){
    body.ham_click nav ~ #rhs{
        flex: 2;
    }
    
    @media screen and (min-width: 540px){
        body.ham_click nav ~ #rhs{
            flex: 7;
        }
    }

    .menu .item img{
        width: 95%;
    }
}

.allocation{
    color: black !important;
    text-align: left;
}

.body table{
    padding: 5px;
    border-collapse: collapse;
    overflow: auto;
    display: inherit;
    min-width: 65vw;
}

.body table td{
    padding: 3px;
    cursor: default;
}

.body table thead td{
    border-right-color: black;
}

table tbody tr{
    border: 1px solid transparent;
}

table tbody tr:nth-child(odd){
    background-color: #eee;
}

table tbody tr:nth-child(odd):hover{
    background-color: #ddd;
    border-color: #333;
}

table tbody tr:nth-child(even):hover{
    background-color: #eee;
    border-color: #333;
}

@media screen and (min-width: 1020px){
    #lhs{
        font-size: 0.85em;
    }
}

.school_container{
    padding: 0.5rem;
}

.school_container:hover{
    background-color: #eee;
}

.school_container.empty:hover{
    background-color: unset;
}

.school_container.empty{
    border: 1px solid #bbb;
}