body{
    background-color: #eee;
    background-image: url("../images/backgrounds/andrej-lisakov-3A4XZUopCJA-unsplash.jpg");
    background-position: left;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    form{
        width: 85vw !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 480px){
    
    form{
        width: 95vw !important;
    }
}

form{
    width: 80vw;
}

#cover{
    background-color: black;
}

.img_btn img{
    flex: 0;
    filter: invert(1);
    transform: rotate(-45deg);
    padding-bottom: 5px;
}

.img_btn span{
    margin-left: -3px;
}

@media screen and (orientation: landscape) and (min-width:770px){
    body{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    main{
        justify-content: flex-end;
    }

    form{
        margin-right: 45px;
        width: 45vw;
        background-color: rgba(255,255,255,0.85);
    }
}