@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #000;
    --black0: #000;
    --black1: #111;
    --black2: #222;
    --black3: #333;
}

/* general labels */
label .title_message{
    background-color: rgba(15,15,15,0.85);
    color: white;
    border-radius: 5px;
    display: none;
    margin-top: 3px;
    padding: 5px 8px;
}

label .title_message:hover{
    background-color: rgba(15, 15, 15, 0.95);
}
/* end of general labels */

/*display the title message when the textbox is in focus*/
label input:focus~.title_message, label textarea:focus~.title_message{
    display: block;
    position: absolute;
    top: 110%;
    z-index: 2;
    left: 0;
    right: 0;
}

*{
    scroll-behavior: smooth;
    font-family: 'Times New Roman', 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s, color 0s;
    font-size: auto;
}

a{color: inherit}

/*tables*/
table{
    display: table !important;
    border: 1px solid lightgrey;
    width: 95%;
    margin: 2.5%;
}

table.full{
    width: 100%;
    margin: 0;
}

table.sm-full{
    width: 98%;
    margin: 1%;
}

table.space-top{
    margin-top: 1%;
}

table tbody{
    overflow: auto;
}

table tbody tr.empty td{
    padding: 1em;
    text-align: center;
}

td.pages > div{
    padding: 0.2rem 0.6em;
}

td.pages > div:first-child{
    padding-left: 0;
}

td.pages .navs span{
    font-size: normal !important;
}

.search{
    margin: 1% 1% 0;
}
/*naming the colors*/
.blue, .primary{
    background-color: var(--blue);
    color: white;
}
.indigo{
    background-color: var(--indigo);
    color: white;
} 

.purple{
    background-color: var(--purple);
    color: white;
} 

.red, .danger{
    background-color: var(--red);
    color: white;
}

.pink{
    background-color: var(--pink);
    color: white;
}

.orange{
    background-color: var(--orange);
    color: white;
} 

.yellow, .warning{
    background-color: var(--yellow);
    color: white;
} 

.green, .success{
    background-color: var(--green);
    color: white;
} 

.teal{
    background-color: var(--teal);
    color: white;
}

.cyan, .info{
    background-color: var(--cyan);
    color: white;
} 

.white{
    background-color: var(--white);
    color: black;
} 

.light{
    background-color: var(--light);
    color: black;
} 

.gray, .secondary{
    background-color: var(--gray);
    color: white;
} 

.gray-dark, .dark{
    background-color: var(--gray-dark);
    color: white;
}

.black, .black0{
    background-color: var(--black);
    color: white;
}

.black1{
    background-color: var(--black1);
    color: white;
}

.black2{
    background-color: var(--black2);
    color: white;
}

.black3{
    background-color: var(--black3);
    color: white;
}

.bg-plain{
    background-color: transparent !important;
}

/* button hover coloring*/
button.blue:hover, button.primary:hover,
.h-blue:hover, .h-primary:hover{
    background-color: rgb(50,50,255);
    color: white;
}

button.red:hover, button.danger:hover,
.h-red:hover, .h-danger:hover{
    background-color: rgb(255,50,50);
    color: white;
}

button:disabled{
    background-color: initial !important;
    color: #555 !important;
    cursor: default !important;
}

button.dark:hover, button.gray-dark:hover,
.h-dark:hover, .h-gray-dark:hover{
    background-color: var(--secondary);
    color: var(--light);
}

button.light:hover, .h-light:hover{
    background-color: var(--dark);
    color: var(--light);
}

button.white:hover, .h-white:hover{
    background-color: var(--black1);
    color: var(--light);
}

button.black:hover, .h-black:hover,
button.black0:hover, .h-black0:hover{
    background-color: var(--light);
    color: var(--black);
}

button.black1:hover, .h-white:hover{
    background-color: var(--light);
    color: var(--black1);
}

button.black2:hover, .h-black2:hover{
    background-color: var(--light);
    color: var(--black2);
}

button.black3:hover, .h-black3:hover{
    background-color: var(--light);
    color: var(--black3);
}

button.cyan:hover, button.info:hover,
.h-cyan:hover, .h-info:hover{
    background-color: var(--primary);
    color: white;
}

button.secondary:hover, button.grey:hover,
.h-secondary:hover, .h-grey:hover{
    color: var(--dark);
    background-color: var(--light);
}

button.teal:hover,
.h-teal:hover{
    background-color: rgb(62, 150, 100);
    color: white;
}

button.orange:hover,
.h-orange:hover{
    background-color: #ec6d03;
    color: white;
}

button.yellow:hover, button.warning:hover,
.h-yellow:hover, .h-warning:hover{
    background-color: #eeb006;
    color: white;
}

button.green:hover, button.success:hover,
.h-green:hover, .h-success:hover{
    background-color: #179634;
    color: white;
}

/*drop downs*/
.drop-menu{
    cursor:pointer;
}

.drop-menu .drop-items{
    top: 100%;
}

.drop-items > *{
    width: -moz-fit-content;
    width: fit-content;
}

/*plain displays*/
.plain, .plain-r{
    background-color: transparent;
    color: inherit;
    border-style: solid;
}

.plain:hover, .plain-r:hover{
    border-width: thin !important;
    outline-width: thick;
    outline-style: solid;
    outline-color: transparent !important;
}

.plain:hover{
    background-color: transparent !important;
    color: inherit !important;
}

.plain.blue, .plain.primary,
.plain-r.blue, .plain-r.primary{
    border-color: var(--primary);
    outline-color: var(--primary);
}

.plain.orange, .plain-r.orange{
    border-color: var(--orange);
    outline-color: var(--orange);
}

.plain.gray, .plain.secondary,
.plain-r.gray, .plain-r.secondary{
    border-color: var(--secondary);
    outline-color: var(--secondary);
}

.plain.gray-dark, .plain.dark,
.plain-r.gray-dark, .plain-r.dark{
    border-color: var(--dark);
    outline-color: var(--dark);
}

.plain.gray-dark:hover, .plain.dark:hover,
.plain-r.gray-dark:hover, .plain-r.dark:hover{
    border-color: var(--secondary);
}

.plain.light,
.plain-r.light{
    border-color: var(--light);
    outline-color: var(--light);
}

.plain.white,
.plain-r.white{
    border-color: var(--white);
    outline-color: var(--white);
}

.plain.red, .plain.danger,
.plain-r.red, .plain-r.danger{
    border-color: var(--danger);
    outline-color: var(--danger);
}

.plain.cyan, .plain-r.cyan{
    border-color: var(--cyan);
    outline-color: var(--cyan);
}

.plain.green, .plain.success,
.plain-r.green, .plain-r.success{
    border-color: var(--success);
    outline-color: var(--success);
}

.plain.yellow, .plain.warning,
.plain-r.yellow, .plain-r.warning{
    border-color: var(--warning);
    outline-color: var(--warning);
}

.plain.teal, .plain-r.teal{
    border-color: var(--teal);
    outline-color: var(--teal);
}
/*end of plain displays*/

/*transparent background*/
.b-trans-sm2{
    --alpha: 0.9;
}

.b-trans-sm1{
    --alpha: 0.85;
}
.b-trans-sm{
    --alpha: 0.75;
}
.b-trans-med{
    --alpha: 0.65;
}

.b-trans{
    --alpha: 0.5;
}

.b-trans-l{
    --alpha: 0.45;
}

.b-trans-l1{
    --alpha: 0.35;
}

.b-trans-l2{
    --alpha: 0.25;
}
/*end of creating alpha variable*/

.blue[class*=b-trans], .primary[class*=b-trans]{
    background-color: hsla(211, 100%, 50%, var(--alpha));
}
.indigo[class*=b-trans]{
    background-color: hsla(263, 90%, 51%, var(--alpha));
} 

.purple[class*=b-trans]{
    background-color: hsla(261, 51%, 51%, var(--alpha));
} 

.red[class*=b-trans], .danger[class*=b-trans]{
    background-color: hsla(354, 70%, 54%, var(--alpha));
}

.pink[class*=b-trans]{
    background-color: hsla(332, 79%, 58%, var(--alpha));
}

.orange[class*=b-trans]{
    background-color: hsla(27, 98%, 54%, var(--alpha));
} 

.yellow[class*=b-trans], .warning[class*=b-trans]{
    background-color: hsla(45, 100%, 51%, var(--alpha));
} 

.green[class*=b-trans], .success[class*=b-trans]{
    background-color: hsla(134, 61%, 41%, var(--alpha));
} 

.teal[class*=b-trans]{
    background-color: hsla(162, 73%, 46%, var(--alpha));
}

.cyan[class*=b-trans], .info[class*=b-trans]{
    background-color: hsla(188, 78%, 41%, var(--alpha));
} 

.white[class*=b-trans]{
    background-color: hsla(0, 0%, 100%, var(--alpha));
} 

.light[class*=b-trans]{
    background-color: hsla(210, 17%, 98%, var(--alpha));
} 

.gray[class*=b-trans], .secondary[class*=b-trans]{
    background-color: hsla(208, 7%, 46%, var(--alpha));
} 

.gray-dark[class*=b-trans], .dark[class*=b-trans]{
    background-color: hsla(210, 10%, 23%, var(--alpha));
}

.black[class*=b-trans], .black0[class*=b-trans]{
    background-color: hsla(0, 0%, 0%, var(--alpha));
}

.black1[class*=b-trans]{
    background-color: hsla(0, 0%, 7%, var(--alpha));
}

.black2[class*=b-trans]{
    background-color: hsla(0, 0%, 13%, var(--alpha));
}

.black3[class*=b-trans]{
    background-color: hsla(0, 0%, 20%, var(--alpha));
}

.display_image_box{
    padding: 1%;
}

.display_image_box img{
    width: 100%;
}
img{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

/* img brigtness value*/
img.bright-10, img.bright-10-h:hover, .img-bright-10 > img, .img-bright-10-h > img:hover{filter: brightness(0.1)}
img.bright-15, img.bright-15-h:hover, .img-bright-15 > img, .img-bright-15-h > img:hover{filter: brightness(0.15)}
img.bright-20, img.bright-20-h:hover, .img-bright-20 > img, .img-bright-20-h > img:hover{filter: brightness(0.2)}
img.bright-25, img.bright-25-h:hover, .img-bright-25 > img, .img-bright-25-h > img:hover{filter: brightness(0.25)}
img.bright-30, img.bright-30-h:hover, .img-bright-30 > img, .img-bright-30-h > img:hover{filter: brightness(0.3)}
img.bright-35, img.bright-35-h:hover, .img-bright-35 > img, .img-bright-35-h > img:hover{filter: brightness(0.35)}
img.bright-40, img.bright-40-h:hover, .img-bright-40 > img, .img-bright-40-h > img:hover{filter: brightness(0.4)}
img.bright-45, img.bright-45-h:hover, .img-bright-45 > img, .img-bright-45-h > img:hover{filter: brightness(0.45)}
img.bright-50, img.bright-50-h:hover, .img-bright-50 > img, .img-bright-50-h > img:hover{filter: brightness(0.5)}
img.bright-55, img.bright-55-h:hover, .img-bright-55 > img, .img-bright-55-h > img:hover{filter: brightness(0.55)}
img.bright-60, img.bright-60-h:hover, .img-bright-60 > img, .img-bright-60-h > img:hover{filter: brightness(0.6)}
img.bright-65, img.bright-65-h:hover, .img-bright-65 > img, .img-bright-65-h > img:hover{filter: brightness(0.65)}
img.bright-70, img.bright-70-h:hover, .img-bright-70 > img, .img-bright-70-h > img:hover{filter: brightness(0.7)}
img.bright-75, img.bright-75-h:hover, .img-bright-75 > img, .img-bright-75-h > img:hover{filter: brightness(0.75)}
img.bright-80, img.bright-80-h:hover, .img-bright-80 > img, .img-bright-80-h > img:hover{filter: brightness(0.8)}
img.bright-85, img.bright-85-h:hover, .img-bright-85 > img, .img-bright-85-h > img:hover{filter: brightness(0.85)}
img.bright-90, img.bright-90-h:hover, .img-bright-90 > img, .img-bright-90-h > img:hover{filter: brightness(0.9)}
img.bright-95, img.bright-95-h:hover, .img-bright-95 > img, .img-bright-95-h > img:hover{filter: brightness(0.95)}
img.bright-100, img.bright-100-h:hover, .img-bright-100 > img, .img-bright-100-h > img:hover{filter: brightness(1)}
/* end of image brightness */

.logo{
    display: flex;
    align-items: center;
}

.btn button{
    outline: none;
    padding: 6px 8px;
    cursor: pointer;
    min-width: 5rem;
}

.btn button:not([class*=border]){
    border: 1px solid lightgrey;
}

.btn.b-curve button:hover{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.no_disp, .form_modal_box.no_disp{
    display: none !important;
}

.item-event{
    font-size: small;
    padding: 0.4em;
    cursor: default;
    color: blue;
    cursor: pointer;
    padding: 0 2px;
}

.item-event:hover{
    text-decoration: underline;
}

.item-event.info{
    color: grey;
    background-color: transparent;
    cursor: default;
}

.item-event.info:hover{
    text-decoration: none;
}

.fadeOut{
    animation: fadeOut ease 0.7s;
    animation-iteration-count: 1;
}

*{
    animation: fadeIn ease 0.15s;
    animation-iteration-count: 1;
}

@keyframes fadeOut{
    from{opacity: 1;}
    50%{opacity: 0.5; height: unset;}
    to{opacity: 0;}
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.blog-container > *{
    max-width: 1200px;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.form_modal_box{
    background:rgba(15, 15, 15, 0.85);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
}

.form_modal_box form, .form_modal_box .form{
    max-height: 90vh !important;
    overflow: auto;
}

/*banners*/
[class*="banner"]{
    background-position: center;
    background-repeat: no-repeat;
    transition: font-size 0s;
    height: 35vh;
    background-size: cover;
}

.banner, .banner-n{
    background-size: 120%;
}

.banner-s{
    background-size: 100%;
}

.banner-l{
    background-size: 140%;
}

.banner-h1{
    height: 40vh;
}

.banner-h2{
    height: 45vh;
}

.banner-h3{
    height: 50vh;
}

@media screen and (orientation: landscape) and (max-height: 520px) {
    .banner, .banner-n{
        height: 50vh;
    }

    .banner-h1{
        height: 55vh;
    }
    .banner-h2{
        height: 60vh;
    }
    .banner-h3{
        height: 70vh;
    }
}

/*format flex displays*/
.flex{
    display: flex !important;
}

.iflex{
    display: inline-flex !important;
}

.flex-all-center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flex-eq > *{flex: 1 !important;}

.flex-eq-4xs > *{flex: 1 1 200px;}
.flex-eq-3xs > *{flex: 1 1 280px;}
.flex-eq-2xs > *{flex: 1 1 320px;}
.flex-eq-xs > *{flex: 1 1 468px}
.flex-eq-sm > *{flex: 1 1 580px}
.flex-eq-md > *{flex: 1 1 768px}
.flex-eq-lg > *{flex: 1 1 1020px}
.flex-eq-xl > *{flex: 1 1 1200px}

.iflex-all-center{
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flex-wrap{
    flex-wrap: wrap !important;
}

.flex-no-wrap{
    flex-wrap: nowrap !important;
}

.flex-center-content{
    justify-content: center !important;
}

.flex-space-content{
    justify-content: space-between !important;
}

.flex-space-around{
    justify-content: space-around !important;
}

.flex-center-align{
    align-items: center !important;
}

.flex-column{
    flex-direction: column !important;
}

.flex-column-r{
    flex-direction: column-reverse !important;
}

.flex-row-r{
    flex-direction: row-reverse !important;
}

.flex-row{
    flex-direction: row !important;
}

.flex-content-end{
    justify-content: flex-end !important;
}

.flex-content-start{
    justify-content: flex-start !important;
}

.flex-align-start{
    align-items: flex-start !important;
}

.flex-content-end{
    justify-content: flex-end !important;
}

.flex-align-end{
    align-items: flex-end !important;
}

.self-align-start{
    align-self: flex-start !important;
}

.self-align-end{
    align-self: flex-end !important;
}

.self-align-center{
    align-self: center !important;
}

.self-justify-start{
    justify-self: flex-start !important;
}

.self-justify-end{
    justify-self: flex-end !important;
}
.self-justify-center{
    align-self: center !important;
}
/*end of flex displays*/

/*text alignment*/
.txt-al-r{
    text-align: right;
}

.txt-al-l{
    text-align: left;
}

.txt-al-c{
    text-align: center;
}

.txt-al-j{
    text-align: justify;
}

.txt-fs3{
    font-size: xx-small;
}
.txt-fs2{
    font-size: x-small;
}
.txt-fs1{
    font-size: smaller;
}
.txt-fs{
    font-size: small;
}
.txt-fm{
    font-size: medium;
}
.txt-fn{
    font-size: normal;
}
.txt-fl{
    font-size: large;
}
.txt-fl1{
    font-size: larger;
}
.txt-fl2{
    font-size: x-large;
}
.txt-fl3{
    font-size: xx-large;
}

.txt-bold{
    font-weight: bold;
}

.txt-bold1{
    font-weight: bolder;
}

.txt-underline{
    text-decoration: underline;
}
/*end of text alignment*/

/*font color*/
.color-light{
    color: var(--light);
}

.color-white{
    color: var(--white);
}

.color-yellow, .color-warning{
    color: var(--yellow);
}

.color-dark, .color-gray-dark{
    color: var(--dark);
}

.color-primary, .color-blue{
    color: var(--primary);
}

.color-teal{
    color: var(--teal);
}

.color-red, .color-danger{
    color: var(--red);
}

.color-secondary, .color-gray{
    color: var(--secondary);
}

.color-orange{
    color: var(--orange);
}

.color-pink{
    color: var(--pink);
}

.color-purple{
    color: var(--purple);
}

.color-info, .color-cyan{
    color: var(--info);
}

.color-indigo{
    color: var(--indigo);
}

.color-green, .color-success{
    color: var(--success);
}

/* widths */
/*container widths*/
.w-fit, .w-fit-child > *{
    width: -moz-fit-content;
    width: fit-content;
}
.w-fluid, .w-fluid-child > *{
    width: 100%;
}
.wmax, .wmax-child > *{
    width: -moz-max-content;
    width: max-content;
}
.wmin, .wmin-child > *{
    width: -moz-min-content;
    width: min-content;
}
.wmin-unset, .wmin-unset-child > *{
    min-width: unset !important;
}
.w-unset, .w-unset-child > *{
    width: unset !important;
}
.wmax-unset, .wmax-unset-child > *{
    max-width: unset !important;
}

/* percentage width */
.wp-1, .wp-1-child > *{width: 10%;}
.wp-2, .wp-2-child > *{width: 20%;}
.wp-3, .wp-3-child > *{width: 30%;}
.wp-4, .wp-4-child > *{width: 40%;}
.wp-5, .wp-5-child > *{width: 50%;}
.wp-6, .wp-6-child > *{width: 60%;}
.wp-7, .wp-7-child > *{width: 70%;}
.wp-8, .wp-8-child > *{width: 80%;}
.wp-9, .wp-9-child > *{width: 90%;}
.w-full, .w-full-child > *{width: 100% !important;}
.w-auto, .w-auto-child > *{width: auto;}
.w-max-unset, .wc-max-unset > *{max-width: unset !important;}
.w-min-unset, .wc-min-unset > *{min-width: unset !important;}

/* max widths by screen */
.wmax-4xs{max-width: 200px}
.wmax-3xs{max-width: 280px}
.wmax-2xs{max-width: 320px}
.wmax-xs{max-width: 468px}
.wmax-sm{max-width: 580px}
.wmax-md{max-width: 768px}
.wmax-lg{max-width: 1020px}
.wmax-xl{max-width: 1200px}
/* end of max widths */

/* min widths by screen */
.wmin-4xs{min-width: 200px}
.wmin-3xs{min-width: 280px}
.wmin-2xs{min-width: 320px}
.wmin-xs{min-width: 468px}
.wmin-sm{min-width: 580px}
.wmin-md{min-width: 768px}
.wmin-lg{min-width: 1020px}
.wmin-xl{min-width: 1200px}
/* end of min widths */

/* end of widths */

.hmax, .hmax-child > *{
    height: -moz-max-content;
    height: max-content;
}
.hmin, .hmin-child > *{
    height: -moz-min-content;
    height: min-content;
}
.hmin-unset, .hmin-unset-child > *{
    min-height: unset !important;
}
.h-unset, .h-unset-child > *{
    height: unset !important;
}
.hmax-unset, .hmax-unset-child > *{
    max-height: unset !important;
}
.h-fluid, .h-fluid-child > *{
    height: 100%;
}

/*underline*/
.underline{
    position: absolute;
    bottom: 5%;
    height: 0.5px;
    background-color: var(--dark);
    width: 45%;
    left: 25%;
}

.underline.top{
    top: 0;
    bottom: unset;
}

.underline.top-left{
    top: 0;
    bottom: unset;
    left: 0;
}

.underline.top-right{
    top: 0;
    bottom: unset;
    right: 0;
}

.underline.bottom-left{
    left: 0;
    right: unset;
}

.underline.bottom-right{
    left: unset;
    right: 0;
}

.underline.center-left{
    top: 15%;
    bottom: 15%;
    left: -2.5%;
    height: 70%;
    width: 1px;
}

.underline.center-right{
    top: 15%;
    bottom: 15%;
    left: 102.5%;
    height: 70%;
    width: 1px;
}

.underline.bottom-center{
    left: 45%;
    bottom: 0;
}

.underline.blue, .underline.primary{
    background-color: var(--blue);
}
.underline.indigo{
    background-color: var(--indigo);
} 

.underline.purple{
    background-color: var(--purple);
} 

.underline.red, .underline.danger{
    background-color: var(--red);
}

.underline.pink{
    background-color: var(--pink);
}

.underline.orange{
    background-color: var(--orange);
} 

.underline.yellow, .underline.warning{
    background-color: var(--yellow);
} 

.underline.green, .underline.success{
    background-color: var(--green);
} 

.underline.teal{
    background-color: var(--teal);
}

.underline.cyan, .underline.info{
    background-color: var(--cyan);
} 

.underline.white{
    background-color: var(--white);
} 

.underline.light{
    background-color: var(--light);
} 

.underline.gray, .underline.secondary{
    background-color: var(--gray);
} 

.underline.gray-dark, .underline.dark{
    background-color: var(--gray-dark);
}
/*end of underline*/

/*borders*/
.ls-border, .l-border, .border{
    border: thin solid;
}
.ld-border{
    border: thin dotted;
}
.lda-border{
    border: thin dashed;
}
.ms-border, .m-border{
    border: medium solid;
}
.md-border{
    border: medium dotted;
}
.mda-border{
    border: medium dashed;
}
.ts-border, .t-border{
    border: thick solid;
}
.td-border{
    border: thick dotted;
}
.tda-border{
    border: thick dashed;
}
.b-blue, .b-primary{
    border-color: var(--primary) !important;
}

.b-gray, .b-secondary{
    border-color: var(--secondary) !important;
}

.b-gray-dark, .b-dark{
    border-color: var(--dark) !important;
}

.b-light{
    border-color: var(--light) !important;
}

.b-white{
    border-color: var(--white) !important;
}

.b-red, .b-danger{
    border-color: var(--danger) !important;
}

.b-orange{
    border-color: var(--orange) !important;
}

.b-green, .b-success{
    border-color: var(--success) !important;
}

.b-yellow, .b-warning{
    border-color: var(--warning) !important;
}

.b-teal{
    border-color: var(--teal) !important;
}

.b-cyan{
    border-color: var(--cyan) !important;
}

.b-purple{
    border-color: var(--purple) !important;
}

.b-indigo{
    border-color: var(--indigo) !important;
}

.b-unset{
    border: unset !important;
}
/*end of borders*/

/*margins*/
.m-auto > *, .sm-auto{margin: auto !important;}
.m-auto-t > *, .sm-auto-t,.m-auto-tp > *, .sm-auto-tp
{margin-top: auto !important;}
.m-auto-b > *, .sm-auto-b, .m-auto-tp > *, .sm-auto-tp
{margin-bottom: auto !important;}
.m-auto-l > *, .sm-auto-l,.m-auto-lr > *, .sm-auto-lr
{margin-left: auto !important;}
.m-auto-r > *, .sm-auto-r,.m-auto-lr > *, .sm-auto-lr
{margin-right: auto !important;}

.m-sm > *, .sm-sm{margin: 0.25rem !important;}
.m-sm-lr > *, .sm-sm-lr{
    margin-left: 0.25rem !important; margin-right: 0.25rem !important;
}

.m-sm-tp > *, .sm-sm-tp{
    margin-top: 0.25rem !important; margin-bottom: 0.25rem !important;
}

.m-sm-t > *, .sm-sm-t {margin-top: 0.25rem !important;}
.m-sm-b > *, .sm-sm-b {margin-bottom: 0.25rem !important;}
.m-sm-l > *, .sm-sm-l {margin-left: 0.25rem !important;}
.m-sm-r > *, .sm-sm-r {margin-right: 0.25rem !important;}
.m-med > *, .sm-med{margin: 0.5rem !important;}
.m-med-lr > *, .sm-med-lr{
    margin-left: 0.5rem !important; margin-right: 0.5rem !important;
}

.m-med-tp > *, .sm-med-tp{
    margin-top: 0.5rem !important; margin-bottom: 0.5rem !important;
}

.m-med-t > *, .sm-med-t {margin-top: 0.5rem !important;}
.m-med-b > *, .sm-med-b {margin-bottom: 0.5rem !important;}
.m-med-l > *, .sm-med-l {margin-left: 0.5rem !important;}
.m-med-r > *, .sm-med-r {margin-right: 0.5rem !important;}
.m-lg > *, .sm-lg{margin: 0.75rem !important;}
.m-lg-lr > *, .sm-lg-lr{
    margin-left: 0.75rem !important; margin-right: 0.75rem !important;
}

.m-lg-tp > *, .sm-lg-tp{
    margin-top: 0.75rem !important; margin-bottom: 0.75rem !important;
}

.m-lg-t > *, .sm-lg-t {margin-top: 0.75rem !important;}
.m-lg-b > *, .sm-lg-b {margin-bottom: 0.75rem !important;}
.m-lg-l > *, .sm-lg-l {margin-left: 0.75rem !important;}
.m-lg-r > *, .sm-lg-r {margin-right: 0.75rem !important;}
.m-xlg > *, .sm-xlg{margin: 1rem !important;}
.m-xlg-lr > *, .sm-xlg-lr{
    margin-left: 1rem !important; margin-right: 1rem !important;
}

.m-xlg-tp > *, .sm-xlg-tp{
    margin-top: 1rem !important; margin-bottom: 1rem !important;
}

.m-xlg-t > *, .sm-xlg-t {margin-top: 1rem !important;}
.m-xlg-b > *, .sm-xlg-b {margin-bottom: 1rem !important;}
.m-xlg-l > *, .sm-xlg-l {margin-left: 1rem !important;}
.m-xlg-r > *, .sm-xlg-r {margin-right: 1rem !important;}
.m-xxlg > *, .sm-xxlg{margin: 2rem !important;}
.m-xxlg-lr > *, .sm-xxlg-lr{
    margin-left: 2rem !important; margin-right: 2rem !important;
}

.m-xxlg-tp > *, .sm-xxlg-tp{
    margin-top: 2rem !important; margin-bottom: 2rem !important;
}

.m-xxlg-t > *, .sm-xxlg-t {margin-top: 2rem !important;}
.m-xxlg-b > *, .sm-xxlg-b {margin-bottom: 2rem !important;}
.m-xxlg-l > *, .sm-xxlg-l {margin-left: 2rem !important;}
.m-xxlg-r > *, .sm-xxlg-r {margin-right: 2rem !important;}
.ml-unset > *, .sml-unset{margin-left: unset !important;}
.mr-unset > *, .smr-unset{margin-right: unset !important;}
.mb-unset > *, .smb-unset{margin-bottom: unset !important;}
.mt-unset > *, .smt-unset{margin-top: unset !important;}
.m-unset > *, .sm-unset{margin: unset !important;}
/*end of margins*/

/*paddings*/
.p-sm > *, .sp-sm{padding: 0.25rem !important;}
.p-sm-lr > *, .sp-sm-lr{
    padding-left: 0.25rem !important; padding-right: 0.25rem !important;
}

.p-sm-tp > *, .sp-sm-tp{
    padding-top: 0.25rem !important; padding-bottom: 0.25rem !important;
}

.p-sm-t > *, .sp-sm-t {padding-top: 0.25rem !important;}
.p-sm-b > *, .sp-sm-b {padding-bottom: 0.25rem !important;}
.p-sm-l > *, .sp-sm-l {padding-left: 0.25rem !important;}
.p-sm-r > *, .sp-sm-r {padding-right: 0.25rem !important;}

.p-med > *, .sp-med{padding: 0.5rem !important;}

.p-med-lr > *, .sp-med-lr{
    padding-left: 0.5rem !important; padding-right: 0.5rem !important;
}

.p-med-tp > *, .sp-med-tp{
    padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;
}

.p-med-t > *, .sp-med-t {padding-top: 0.5rem !important;}
.p-med-b > *, .sp-med-b {padding-bottom: 0.5rem !important;}
.p-med-l > *, .sp-med-l {padding-left: 0.5rem !important;}
.p-med-r > *, .sp-med-r {padding-right: 0.5rem !important;}
.p-lg > *, .sp-lg{padding: 0.75rem !important;}
.p-lg-lr > *, .sp-lg-lr{
    padding-left: 0.75rem !important; padding-right: 0.75rem !important;
}

.p-lg-tp > *, .sp-lg-tp{
    padding-top: 0.75rem !important; padding-bottom: 0.75rem !important;
}

.p-lg-t > *, .sp-lg-t {padding-top: 0.75rem !important;}
.p-lg-b > *, .sp-lg-b {padding-bottom: 0.75rem !important;}
.p-lg-l > *, .sp-lg-l {padding-left: 0.75rem !important;}
.p-lg-r > *, .sp-lg-r {padding-right: 0.75rem !important;}
.p-xlg > *, .sp-xlg{padding: 1rem !important;}
.p-xlg-lr > *, .sp-xlg-lr{
    padding-left: 1rem !important; padding-right: 1rem !important;
}

.p-xlg-tp > *, .sp-xlg-tp{
    padding-top: 1rem !important; padding-bottom: 1rem !important;
}

.p-xlg-t > *, .sp-xlg-t {padding-top: 1rem !important;}
.p-xlg-b > *, .sp-xlg-b {padding-bottom: 1rem !important;}
.p-xlg-l > *, .sp-xlg-l {padding-left: 1rem !important;}
.p-xlg-r > *, .sp-xlg-r {padding-right: 1rem !important;}
.p-xxlg > *, .sp-xxlg{padding: 2rem !important;}
.p-xxlg-lr > *, .sp-xxlg-lr{
    padding-left: 2rem !important; padding-right: 2rem !important;
}

.p-xxlg-tp > *, .sp-xxlg-tp{
    padding-top: 2rem !important; padding-bottom: 2rem !important;
}

.p-xxlg-t > *, .sp-xxlg-t {padding-top: 2rem !important;}
.p-xxlg-b > *, .sp-xxlg-b {padding-bottom: 2rem !important;}
.p-xxlg-l > *, .sp-xxlg-l {padding-left: 2rem !important;}
.p-xxlg-r > *, .sp-xxlg-r {padding-right: 2rem !important;}
.pl-unset > *, .spl-unset{padding-left: unset !important;}
.pr-unset > *, .spr-unset{padding-right: unset !important;}
.pb-unset > *, .spb-unset{padding-bottom: unset !important;}
.pt-unset > *, .spt-unset{padding-top: unset !important;}
.p-unset > *, .sp-unset{padding: unset !important;}
/*end of paddings*/

/* gaps */
.gap-xsm{gap: 0.25rem}
.gap-sm{gap: 0.5rem}
.gap-md{gap: 1rem}
.gap-lg{gap: 1.5rem;}
.gap-xlg{gap: 2rem;}
/* end of gaps */

/*box shadows*/
.lt-shade, .lt-shade-h{
    box-shadow: 0 0 0.1rem 0 var(--dark);
}

.md-shade, .md-shade-h, .lt-shade-h:hover{
    box-shadow: 0 0 0.25rem 0 var(--dark);
}

.lg-shade, .md-shade-h:hover{
    box-shadow: 0 0 0.4rem 0 var(--dark);
}
/*end of shadow box*/

.label{
    display:flex;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 3px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 20vw;
}

.label .name{
    min-width: 80px;
    padding: 5px;
}

.link-label a:hover{
    text-decoration: underline;
}

.label .value{
    padding-left: 0.5em;
    flex: 1;
    border-left: 1px dashed #ccc;
    padding: 5px;
    text-align: right;
}

/*element positioning*/
.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.absolute.top-left, .fixed.top-left{
    top: 0;
    left: 0;
}

.absolute.top-right, .fixed.top-right{
    top: 0;
    right: 0;
}

.absolute.bottom-left, .fixed.bottom-left{
    bottom: 0;
    left: 0;
}

.absolute.bottom-right, .fixed.bottom-right{
    bottom: 0;
    right: 0;
}

.absolute.center, .fixed.center{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.absolute.right, .fixed.right{
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.absolute.left, .fixed.left{
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.absolute.bottom-center, .fixed.bottom-center{
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.absolute.top-center, .fixed.top-center{
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.static{
    position: static;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
}

.top{top: 0;}
.bottom{bottom: 0;}
.left{left: 0;}
.right{right: 0;}
.top-left{top:0; left: 0}
.top-right
/*end of positioning*/

/*shadow overlay*/
.shadow, .shadow-dk, .shadow-dk1, .shadow-dk2, 
.shadow-lt, .shadow-lt1, .shadow-lt2{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.shadow-lt1{
    background-color: rgba(15,15,15,0.35);
}

.shadow-lt2{
    background-color: rgba(15,15,15,0.25);
}
.shadow-lt{
    background-color: rgba(15,15,15,0.45);
}

.shadow{
    background-color: rgba(10, 10, 10, 0.55);
}

.shadow-dk{
    background-color: rgba(15,15,15,0.65);
}

.shadow-dk1{
    background-color: rgba(10,10,10,0.75);
}

.shadow-dk2{
    background-color: rgba(10,10,10,0.85);
}
/*end of shadow overlay*/

td{
    border: 1px solid #ccc;
    padding: 5px;
}

/* a custom alert box*/
.alert_box{
    border: 1px solid;
    padding: 0.5em;
    min-width: 200px;
    text-align: center;
    margin: 0.2em 0.5em;
    width: -moz-fit-content;
    width: fit-content;
}

.alert_box:first-child{margin-top: unset}
.alert_box:last-child{margin-bottom: unset}

#alert_modal{
    right: 0;
    top: 0.5em;
    text-align: right;
    z-index: 10;
}
/*end of custom alert box*/

.rnd, .rnd-h:hover{
    border-radius: 0.8em;
}

.sm-rnd, .sm-rnd-h:hover{
    border-radius: 0.5em;
}

.xs-rnd, .xs-rnd-h:hover, input, textarea, select{
    border-radius: 0.25em;
}

.b-rnd, .b-rnd-h:hover{
    border-radius: 1em;
}

/* cursors */
.cursor-def, .cursor-d, .cursor-def-h:hover, .cursor-d-h:hover{cursor: default}
.cursor-point, .cursor-p, .cursor-point-h:hover, .cursor-p-h:hover{cursor: pointer}
.cursor-l, .cursor-pro, .cursor-pro-h:hover, .cursor-l-h:hover{cursor: progress;}
/* end of cursors */

/* forms */
/* form general */
form, .form{padding: 0.5em;}
form.not-form, .form.not-form{
    border-radius: unset;
    box-shadow: inherit;
    min-width: unset;
}
form .label.flex-column label, .form .label.flex-column label{
    width: inherit; margin: unset;
}
form .label.no_disp, .form .label.no_disp{display: none;}
/* end of form general */

/* form images */
form img, .form img{width: unset;}
/* end of form images */

/* form elements */
form input, .form input, form textarea,
.form textarea, form select, .form select{
    padding: 0.5em 0.6em; outline: unset; border: 1px solid lightgrey;
}

form input[type=radio], .form input[type=radio],
form input[type=checkbox], .form input[type=checkbox]{
    padding: initial !important; flex: 0 !important;
}

form label.checkbox, .form label.checkbox,
form label.radio, .form label.radio{
    align-items: center; justify-content: flex-start;
    cursor: default;
}

form label.checkbox::selection, .form label.checkbox::selection,
form label.radio::selection, .form label.radio::selection{
    background-color: transparent;
}

textarea{min-height: 35px;}
textarea.text-base{
    height: 35px; max-height: 70px;
}

textarea.text-med{
    height: 70px; max-height: 105px;
}

textarea.text-lg{
    height: 105px; max-height: 140px;
}

input[list], input[list]:hover, input[list]:focus{
    -webkit-appearance: none !important; appearance: none !important;
}
/* end of form elements */

/* form buttons */
form.txt-label .btn, .form.txt-label .btn{
    flex: 0; width: 100%; align-self: flex-end;
}

form.inline-form, .form.inline-form{
    width: 100%; display: flex;
}

form.fluid > *, .form.fluid > *{width: 100%;}

/* form labels */
form.txt-label label, .form.txt-label label{
    display: flex; flex-direction: column; flex: 1 1 280px; width: 100%;
}

form.inline-form label, .form.inline-form label{width: 100%;}
form.txt-label .label-title, .form.txt-label .label-title{
    font-size: small; color: var(--black3);
}

form.txt-label, .form.txt-label{
    display: flex; flex-wrap: wrap;
}

form.fluid label[for*=submit], .form.fluid label[for*=submit],
form.inline-form label[for*=submit], form.inline-form label[for*=submit],
form.inline-form .btn, form.inline-form .btn,
form.fluid .btn, .form.fluid .btn,
form label[for*=submit], form label[for*=submit],
form .btn, .form .btn{
    width: -moz-fit-content; width: fit-content;
}

/* image label forms */
form.img-label label, .form.img-label label{
    display: flex; margin: 0.5em; width: auto;
}

form.img-label label .label_img, .form.img-label label .label_img{
    flex: 0; height: 35px; width: 35px; display: flex; justify-content: center; 
    align-items: center; padding: 5px; border: thin solid lightgrey;
    border-top-left-radius: 0.25em; border-bottom-left-radius: 0.25em;
}

form.img-label label .label_img img, .form.img-label label .label_img img{
    height: 20px; width: 20px;
}

form.img-label label input, .form.img-label label input,
form.img-label label select, .form.img-label label select,
form.img-label label textarea, .form.img-label label textarea{
    flex: 1; border-top-left-radius: unset;
    border-bottom-left-radius: unset; border-left: unset;
}

form.img-label label input, .form.img-label label input,
form.img-label label select, .form.img-label label select{
    height: 35px;
}

form input[type=radio], .form input[type=radio],
form input[type=checkbox], .form input[type=checkbox]{
    height: initial !important; min-width: unset; flex: 1;
}

form .label.flex-column{
    border: unset; width: 100%;
}

/* form joint labels */
form .joint, .form .joint{
    display: flex; align-items: center; flex-wrap: wrap;
    padding-top: unset; padding-bottom: unset;
}

form .joint.textarea > *, .form .joint.textarea > *{
    flex: 1 1 500px;
}

form .joint > *, .form .joint > *{
    flex: 1 1 280px;
}
/*end of form*/

/*image conatainers*/
.bg-img{
    width: 100%;
}

.icon, .icon[class*="rnd-"]{
    width: 2rem;
    height: 2rem;
}

.invert{
    filter: invert(1);
}

.s-icon, .s-icon[class*="rnd-"]{
    width: 1.5rem;
    height: 1.5rem;
}

.l-icon, .l-icon[class*="rnd-"]{
    width: 2.5rem;
    height: 2.5rem;
}

.xl-icon, .xl-icon[class*="rnd-"]{
    width: 3rem;
    height: 3rem;
}

.xxl-icon, .xxl-icon[class*="rnd-"]{
    width: 4rem;
    height: 4rem;
}

[class*="icon"] img{
    width: inherit;
    height: inherit;
}

[class*="icon"]{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/*carousel*/
.carousel-container{
    top: 0;
    height: 100%;
}

.carousel-container.main,
.carousel-container.main .bg-img{
    max-height: 100vh;
}

.carousel-container.main img{
    height: 100vh;
}

.carousel-container.card-carousel .carousel-item{
    max-width: calc(100vw - 100px);
}

.carousel-container.card-carousel{
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.carousel-container .content{
    top: 0;
    bottom: 0;
    padding: 2rem;
    text-align: center;
    font-size: 1em;
}

.carousel-container.main .content{
    color: white;
}

.carousel-container.main .content .text{
    font-size: large;
}
.carousel-container.main .content .text h2{
    font-size: xx-large;
    padding-bottom: 0.5em;
}

.carousel-container .carousel-btn{
    color: var(--white);
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

.carousel-container .carousel-btn span{
    cursor: pointer;
    padding: 0.2em 0.3em;
    border: 1px solid transparent;
    margin: 0.2rem;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    filter: invert(1);
}

.carousel-container.light .carousel-btn span,
.carousel-container.white .carousel-btn span{
    filter: invert(0);
}

.carousel-container .prev.carousel-btn span{
    background-image: url("../images/icons/arrow-back.svg");
}

.carousel-container .next.carousel-btn span{
    background-image: url("../images/icons/arrow-forward.svg");
}

.carousel-container .carousel-btn span:hover{
    margin: 0 0.5em;
}

.carousel-container .prev.carousel-btn{
    left: 0;
}

.carousel-container .next.carousel-btn{
    right: 0;
}

.carousel-container .content .btn{
    margin: 0.2em;
}

.carousel-container .slide-buttons{
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .slide-buttons span{
    height: 0.3em;
    width: 1.5em;
    padding: 0.1em 0;
    margin: auto 0.5%;
    border: 1px solid white;
    background-color: #fff3;
}

.carousel-container.light .slide-buttons span,
.carousel-container.white .slide-buttons span{
    filter: invert(1);
}

.carousel-container .slide-buttons.r-child > *{
    height: 0.6em;
    width: 0.6em;
    border-radius: 50%;
}

.carousel-container .slide-buttons span.active{
    background-color: var(--light);
}

.round{
    border-radius: 50%;
}

.round img{
    width: inherit;
    height: inherit;
}

[class*="rnd-"]{
    clip-path: circle();
}

[class*=rect-] img{
    width: inherit;
}

.rnd-xxsm, .icon-xxsm{
    width: 4.5rem;
    height: 4.5rem;
}

.rnd-xsm, .icon-xsm{
    width: 6rem;
    height: 6rem;
}
.rnd-sm, .icon-sm{
    width: 8rem;
    height: 8rem;
}
.rnd-med, .icon-med{
    width: 10rem;
    height: 10rem;
}

.rnd-lg, .icon-lg{
    width: 12rem;
    height: 12rem;
}

.rect-xxsm{
    width: 4.5rem;
}

.rect-xsm{
    width: 6rem;
}

.rect-sm{
    width: 8rem;
}

.rect-med{
    width: 10rem;
}

.rect-lg{
    width: 12rem;
}
/*end of carousel*/

/*cards*/
.card{
    border: thin solid lightgrey;
    padding: 0.25rem 0.3em;
}

.card .tag{
    font-size: small;
    cursor: default;
}

.v-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.1 1 320px;
}

.h-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.h-card .bg-img{
    max-width: 20rem;
}

.card.h-card{
    flex: 1 1 100vw;
    width: 100%;
}

.card-foot .btn{
    margin-top: 0.5rem;
}

/* .img-card */

@media screen and (orientation: portrait){
    .carousel-container.main img{
        height: 70vh;
    }

    .carousel-container.main .content .text{
        font-size: large;
    }
    .carousel-container.main .content .text h2{
        font-size: xx-large;
        padding-bottom: 0.5em;
    }
}

@media screen and (min-width: 930px){
    .ss-link-btn{
        display: none;
    }
}

@media screen and (max-width: 930px){
    /*drop downs*/
    .drop-menu .drop-items{
        position: relative !important;
    }

    .drop-items > *{
        width: 100%;
    }
}

/*drop downs*/
.drop-menu .drop-items-sm{
    position: relative !important;
}

.drop-items-sm > *{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .display_image_box{
        max-width: unset !important;
    }

    /* forms */
    .form_modal_box form, .form_modal_box .form{
        min-width: 70vw;
    }

    /* form elements */
    input, select, textarea{min-width: 250px;}
    /* end of form elements */
    /* end of forms */

}

@media screen and (max-width: 768px){
    .h-card{
        flex: 1 1 auto !important;
    }

    footer .foot-items{
        flex-direction: column;
    }

    footer .foot-items .foot-item{
        flex: 1 1 auto;
        margin-bottom: 10px;
    }

    /* forms */
    form label, .form label{
        width: auto;
    }

    form label.btn, .form label.btn{
        /* width: 80vw; */
        display: flex;
        align-items: center;
    }
    .form_modal_box form, .form_modal_box .form{
        min-width: 95vw;
    }
    /* end of forms */

    .card, .h-card{
        width: auto;
    }
}

@media screen and (max-width: 520px) {
    /* forms */
    form.inline-form, .form.inline-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* end of forms */

    /* buttons */
    .btn button{
        max-width: unset !important;
        min-width: unset !important;
        width: 100% !important;
    }
    /* end of buttons */

    .card{
        flex-grow: 1;
    }

    .card.h-card{
        flex-wrap: wrap;
    }

    .blog-container .h-card > *{
        flex: initial;
    }

    .flex-wrap{
        flex-direction: column;
        flex-wrap: unset !important;
    }
    .flex-wrap > *{
        display: block;
        flex: 1 1 auto !important;
    }
    .flex-wrap.wrap-half{
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .flex-wrap.wrap-half > *{
        flex: 1 1 45% !important;
    }
}