:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

*{
    scroll-behavior: smooth;
}

/*tables*/
table{
    display: table !important;
}

/*naming the colors*/
.blue, .primary{
    background-color: var(--blue);
}

.indigo{
    background: var(--indigo);
} 

.purple{
    background: var(--purple);
} 

.red, .danger{
    background: var(--red);
} 

.pink{
    background: var(--pink);
}

.orange{
    background: var(--orange);
} 

.yellow, .warning{
    background: var(--yellow);
} 

.green, .success{
    background: var(--green);
} 

.teal{
    background: var(--teal);
}

.cyan, .info{
    background: var(--cyan);
} 

.white{
    background: var(--white);
} 

.light{
    background: var(--light);
} 

.gray, .secondary{
    background: var(--gray);
} 

.gray-dark, .dark{
    background: var(--gray-dark);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    font-size: auto;
}

.display_image_box{
    padding: 1%;
    *border: 1px solid;
}

.display_image_box img{
    width: 100%;
}
img{
    width: 100%;
}

form img{
    width: unset;
}
.logo{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}

.btn button{
    outline: none;
    border: 1px solid lightgrey;
    padding: 6px 8px;
    cursor: pointer;
    min-width: 15vw;
}

.dbl_btn_label{
    display: flex;
}

.dbl_btn_label button{
    margin: 0 3px;
    padding: 5px;
}

.btn:first-child{
    padding-left: unset !important;
}

.btn button:hover{
    border-bottom-left-radius: 0.65rem;
    border-bottom-right-radius: 0.65rem;
}

.no_disp, .form_modal_box.no_disp{
    display: none;
}

.fadeOut{
    animation: fadeOut ease 0.7s;
    animation-iteration-count: 1;
}

*{
    animation: fadeIn ease 0.7s;
    animation-iteration-count: 1;
}

@keyframes fadeOut{
    from{opacity: 1;}
    50%{opacity: 0.5; height: unset;}
    to{opacity: 0;}
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.form_modal_box{
    background:rgba(15, 15, 15, 0.85);
    height: 100vh;
    width: 100vw;
    top: 0;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-no-wrap{
    flex-wrap: nowrap;
}

.flex-center-content{
    justify-content: center;
}

.flex-space-content{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}

.flex-center-align{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-content-end{
    justify-content: flex-end;
}

.flex-content-start{
    justify-content: flex-start !important;
}

.flex-align-start{
    align-items: flex-start !important;
}

.flex-content-end{
    justify-content: flex-end;
}

.flex-align-end{
    align-items: flex-end;
}

.label{
    display:flex;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 3px;
    width: fit-content;
    min-width: 20vw;
}

.label .name{
    min-width: 80px;
    padding: 5px;
}

.label .value{
    padding-left: 0.5em;
    flex: 1;
    border-left: 1px dashed #ccc;
    padding: 5px;
    text-align: right;
}

.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.static{
    position: static;
}

.shadow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.55);
}

form button{
    max-width: 180px;
}

table{
    border: 1px solid lightgrey;
    width: 95%;
    margin: 2.5%;
}

td{
    border: 1px solid #ccc;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .btn button{
        min-width: 10vw;
    }

    .display_image_box{
        max-width: unset !important;
    }

    .form_modal_box form{
        min-width: 70vw;
    }
}

@media screen and (max-width: 768px){
    .form_modal_box form{
        min-width: 95vw;
    }
}

@media screen and (min-width: 520px) {
    
}