.loader{
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.loader.full{
    height: unset;
    /*width: 100vw; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* position: fixed; */

    width: 100%;
}

.circle-loader{
    position: relative;
}

.span-container{
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.loader span{
    display: inline-block;
    padding: 2px;
    border: 1px solid inherit;
}

/*determine size of loader spans*/
.loader .large{
    width: 15px;
    height: 15px;
    margin: 5px;
}

.loader .med{
    width: 10px;
    height: 10px;
    margin: 3px;
}

.loader .small{
    width: 5px;
    height: 5px;
    margin: 3px;
}

.loader .vsmall{
    width: 5px;
    height: 5px;
    padding: 0;
    margin: 3px;
}

.loader .stroke{
    width: 15px;
    height: 2px;
}

/*types of span displays*/
.loader .round{
    border-radius: 100%;
}

.loader .semi-round{
    border-radius: 35%;
}

/* circle loader styles*/
.circle-loader .stroke{
    position: absolute;
    transform-origin: 100%;
    transform: rotate(calc(360deg / 8 * var(--i)));
}

/*types of animations for loader*/
.loader.anim-fade span{
    opacity: 0;
}

.circle-loader.anim-fan span{
    animation-name: anim-fan;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: calc(1s / var(--c) * var(--i));
}

.loader.anim-fade span{
    animation-name: anim-fade;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: calc(2s / var(--c) * var(--i));
}

.loader.anim-swing span{
    animation-name: anim-swing;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: calc(2s / var(--c) * var(--i));
}

.loader.anim-fade.anim-swing span{
    opacity: 1;
    animation-name: anim-swing-fade;
}

/*keyframes*/
@keyframes anim-fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes anim-swing{
    from {margin-bottom: 15px;}
    to {margin-bottom: unset;}
}

@keyframes anim-swing-fade{
    from {opacity: 1; margin-bottom: 15px;}
    to {opacity: 0; margin-bottom: unset;}
}

@keyframes anim-fan {
    from{opacity: 1; transform: rotate(0deg)}
    to{opacity: 0;}
}