a{text-decoration: none; color: inherit}

/* nav bar */
nav{
    padding: 1rem 0.8rem;
    box-shadow: 0 0 4px 0 lightslategrey;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--light);
}

nav .head .name{
    font-size: x-large;
}

.nav_links{
    display: flex;
    position: relative;
    width: 100%;
}
/* styling the buttons */
.nav_links .buttons{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
    width: inherit;
}
.buttons .tab{
    padding: 1.25rem 0.75rem;
    width: inherit;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.buttons:hover .tab:first-child.active{
    border-radius: 5px 5px 0 0;
}

.buttons:hover .tab.active{
    border-radius: unset;
}

.buttons:hover .tab.active:last-child{
    border-radius: 0 0 5px 5px;
}

.buttons .tab:not(.active):hover{
    border-color: azure;
    background-color: hsla(180, 100%, 97%, 0.15);
}

.buttons .tab.active{
    border-radius: 5px;
}

.buttons .logout{
    position: fixed;
    width: 20%;
    bottom: 1rem;
}
/* end of nav bar */

@media screen and (max-width: 768px){
    nav{height: auto; position: sticky; top: -3.7em;}
    .buttons .logout{width: 28.57%}
    /* nav bar */
    .nav_links > .buttons, nav .head{
        position: absolute;
        left: -100vw;
    }

    .nav_links{
        gap: 1rem;
    }

    /* styling the ham and its elements */
    #ham{
        border: 3px solid black;
        padding: 0.75rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        gap: 0.15em;
        cursor: pointer;
        align-self: flex-start;
    }

    #ham span{
        width: 1rem;
        display: block;
        border: 2px solid;
    }

    /* when hamburgar has been clicked */
    nav.clicked{
        top: 0 !important;
        min-height: 100vh;
        width: 100% !important;
    }
    nav.clicked #ham{
        gap: 0.4rem;
    }

    nav.clicked #ham ~ .buttons{
        left: 0;
        position: initial;
    }

    nav.clicked #ham span{
        width: 1rem;
    }

    nav.clicked #ham span:nth-child(even){
        display: none;
    }

    nav.clicked #ham span:first-child{
        transform: rotate(-45deg);
    }

    nav.clicked #ham span:last-child{
        transform: rotate(45deg);
    }
}

@media screen and (orientation: landscape){
    nav.clicked{
        width: 100vw;
    }
    nav.clicked .logout{
        width: 85%;
    }
}

@media screen and (max-width: 640px){
    nav.clicked{
        width: 100vw;
    }
    nav.clicked .logout{
        width: 80vw;
    }
}