body{
    background-color: #eee;
}

section{
    background-color: white;
}

#intro{
    padding: 5vh 5vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    font-size: large;
}

#intro #background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    height: inherit;
}

#background img{
    width: 100%;
    height: inherit;
}

#intro .shadow{
    z-index: 1;
}

#intro .head, #intro .desc{
    z-index: 2;
    color: whitesmoke;
}

#intro a{
    color: inherit;
}

main a, section a{
    color: blue;
    padding-bottom: 3px;
    border: 1px solid transparent;
    transition: border-color 0.5s;
}

main a:hover, section a:hover{
    border-bottom-color: inherit;
}

@media screen and (max-width: 800px){
    #intro{
        height: 75vh;
    }

    main{
        margin: initial;
        padding: 10px;
    }

    #lhs > section{
        margin-right: unset !important;
    }

    #lhs{
        margin-bottom: 10px;
    }
}

.head h1{
    text-align: center;
}

.desc p{
    text-align: center; 
    padding: 5px 10px;
}

#gallery .gallery_box{
    flex: 1 1 240px;
    padding: 1%;
    max-width: 640px;
    background-color: whitesmoke;
}

#gallery .gallery_box:hover{
    background-color: honeydew;
}

.gallery_box .image{
    border: 1px solid #aaa;
}

.person .body{
    padding: 5px 10px;
}
.person .body span{
    display: block;
    text-align: center;
}

.person .body .name{
    font-size: large;
    font-weight: bold;
    margin: 5px auto;
}

.person .body .role{
    color: #555;
    font-size: small;
}

.person .image img{
    padding: 5px;
    border-radius: 100%;
    max-width: 280px;
}

.person .image{
    text-align: center;
}

.person .image img{
    width: 200px;
}

.desc .person{
    max-width: 320px;
    flex: 1 1 180px;
}

main{
    margin: 10px;
    min-height: initial !important;
}

main #lhs, main #rhs{
    max-width: 1020px;
    margin: auto;
}

#lhs > section, #rhs > section{
    box-shadow: 0 0 4px 0 lightgrey, 0 0 1px 0 black;
}

#lhs > section{
    margin-bottom: 7px;
    margin-right: 7px;
}

#lhs > section:last-child{
    margin-bottom: unset;
}

#ceo{
    padding: 2.5em 1rem;
}

#team .desc .person{
    flex: 1 1 150px;
}