#rhs section > .middle,
#rhs section > .body,
#rhs section > .desc{
    max-height: 50vh;
    overflow: auto;
}

#placement_search #action{
    padding: 5px;
}

#placement_search .display .title_bar{
    padding: 5px 8px 5px 5px;
    color: white;
}

#placement_search .display{
    margin: 7px auto;
    border: 1px solid lightgrey;
    padding: 0.2em;
    padding-bottom: 0.5em;
    max-height: 55vh;
    overflow: auto;
}

#placement_search .display:hover{
    box-shadow: 0 0 2px 0 #888;
}

#placement_search .display .body{
    overflow: auto;
}

.title_bar .close{
    cursor: pointer;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 15px;
}

.title_bar .close span{
    width: 10px;
    color: black;
    background-color: black;
    height: 2px;
    display: block;
    margin: 1px;
    position: absolute;
    right: 0;
}

.title_bar .close.clicked span:last-child{
    transform: rotate(180deg);
}

.title_bar .close.clicked span{
    margin: 0;
}

.title_bar .close span:last-child{
    transform: rotate(90deg);
}

#content #body{
    padding: 0.5em;
    border: 1px dashed;
    min-height: 12.5vh;
    margin: auto 5px;
}

#body.empty, .body.empty, .item.empty{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #222;
    border: 1px solid lightgrey;
    min-height: 3rem;
}

.school_container{
    border: 1px solid #bbb;
    cursor: default;
}

.school_container:first-child{
    margin-top: 10px;
}

.school_container .window_space{
    background-color: #fff;
    padding: 5px 7px;
    border: 1px dashed #ccc;
    cursor: default;
}
.section_main_block .head{
    cursor: pointer;
}
.section_main_block .body .item{
    margin: 5px auto;
}

.head{
    margin-bottom: 1vh;
}

#rhs .image img{
    width: 100%;
    padding: 0.1rem 0.2rem 0.1rem 0.1rem;
}

.image.small_image{
    width: 20vw;
    max-width: 150px;
    max-height: 20vw;
}

.image.small_image img{
    max-height: 100px;
}

.section_main_block .body .item:first-child{
    margin-top: 10px;
}

.section_main_block .body .item .top{
    padding: 0.4em;
    border: 1px solid #aaa;
    cursor: pointer;
}

.section_main_block .body .item.active .top, 
.section_main_block .body .item .top:hover{
    border: 1px solid cadetblue;
}

.section_main_block .body .item .middle{
    padding: 0.4em;
    border: 1px dashed cadetblue;
    border-top: unset;
    padding-bottom: 0.1em;
    display: none;
}

.section_main_block .body .item .middle .desc[contenteditable=true]{
    background-color: white;
    padding: 0.2rem;
}

.section_main_block .body .item .btn{
    margin: 0;
    padding: 0.4em 0 0.2em;
}

button.selected{
    background-color: darkorange;
    color: white;
}

#modal_2{
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(15,15,15,0.7);
}

@media screen and (max-width: 520px){
    #modal_form{
        width: 98vw !important;
    }

    #modal_2 form{
        left: 0;
        right:0;
        width: 97.5vw;
        display: block;
    }

    .section_main_block .body .item .top .image{
        display: none;
    }

    .modal_yes_no .yes_no_container{
        width: 99%;
    }
}

/*styling for yes no modal*/
.modal_yes_no .yes_no_container{
    width: 95%;
    background-color: #eee;
    padding: 2.5%;
}

.modal_yes_no .body{
    padding: 5vh 5vw;
    text-align: center;
    margin: 10px auto;
    border: 1px dashed #eee;
    background-color: #fff;
}

.modal_yes_no .foot{
    width: inherit;
    cursor: default;
}

.modal_yes_no .foot button{
    margin: auto 5%;
    padding: 10px 8px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.modal_yes_no .foot button:first-child{
    margin-left: unset;
}

.modal_yes_no .foot button:last-child{
    margin-right: unset;
}

.modal_yes_no .foot button:first-child:hover{
    background-color: forestgreen;
}

.modal_yes_no .foot button:last-child:hover{
    background-color: #ff3322;
}

/*about section*/
.page_setup .head{
    padding-bottom: 1.5vh;
    padding-top: 1vh;
    border-bottom: 1px dashed #898;
    width: fit-content;
    padding-right: 2vw;
}

.page_setup .body{
    padding: 1vh 0.3rem;
    text-align: justify;
}

.page_setup .body p{
    padding: 3px 0;
}

#users .middle{
    padding-top: 5px;
}
.user_container{
    padding: 0.3em 0.5em;
    margin: 3px auto;
    border: thin solid lightgrey;
}

.user_container:hover{
    border-color: grey;
}

.user_container .desc{
    font-size: small;
    color: grey;
}

.user_container .desc > div{
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid grey;
}

.user_container .desc > div:first-child{
    padding-left: unset;
}

.user_container .desc > div:last-child{
    border-right: unset;
}

.user_container .foot{
    padding: 2px 0;
}

/*News number*/
.news_number{
    border-radius: 50%;
    top: 50%;
    right: 0;
    padding: 0.5em;
    font-size: smaller;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid white;
}

.menu_click .news_number{
    top: 1em;
}

/*tab for superadmin*/
#edit_modal #wrapper{
    max-width: 95vw;
    max-height: 95vh;
    transition: height 1s;
}

#edit_modal form, #edit_modal .form{
    border-radius: 0;
    position: initial !important;
}

.tabs{
    background-color: whitesmoke;
    padding: 0.5rem 0.2rem;
    min-width: 80vw;
}

.tabs .tab_btn{
    padding: 0.5rem;
    background-color: white;
    min-width: 4em;
    transition: background-color 1s, border-radius 0.5s;
    cursor: pointer;
}

.tabs .tab_btn.active{
    background-color: #ddd;
    border-radius: 5px;
}

.tabs .tab_btn.active:hover{
    background-color: #ddd;
    border-radius: unset;
}

.tabs .tab_btn:hover{
    background-color: #eee;
}

#edit_modal .edit_detail{
    background-color: white;
    padding: 2rem 1em;
    min-width: 80vw;
    text-align: center;
}

#edit_modal > #wrapper > .foot{
    border-radius: 0 0 10px 10px;
    padding: 0.3rem 0.5rem 0.7rem;
    background-color: transparent;
    border: 1px solid whitesmoke;
    min-width: 80vw;
    justify-content: flex-end;
}

#edit_modal > #wrapper > .content{
    background-color: whitesmoke !important;
    min-height: 10vh;
    min-width: 80vw;
    max-height: 65vh;
    overflow: auto;
}

#edit_modal > #wrapper > .content .content_box{
    min-height: inherit;
    max-height: 65vh;
}

@media screen and (max-width:767px){
    #edit_modal .edit_detail, #edit_modal > #wrapper > div{
        min-width: 95vw;
    }
}
@media screen and (min-width: 768px){
    .news_number{
        top: 1em;
    }
}

@media screen and (max-width: 480px){
    .news_number{
        font-size: xx-small;
        top: 0.2rem;
    }

    .menu_click .news_number{
        top: 0.8rem;
        font-size: x-small;
    }
}